body {
    font-family: 'Open Sans', sans-serif;
    min-height: 75rem;
    padding-top: 4.5rem;
  }
  
  h1, h2, h3, h4{
      font-family: 'Yellowtail', cursive;
    
  }
  
  .fadeIn_left {
    opacity: 0;
    transform: translate(-50%, 0);
    transition: 2s;
  }
  .fadeIn_left.is-show {
    transform: translate(0, 0);
    opacity: 1;
  }



  h5 {
    font-family: 'Noto Sans JP', sans-serif;
  }

  p {
      font-size: 18px;
      font-family: 'Open Sans', sans-serif;
  }

  a {
    font-family: 'Mukta', sans-serif;
}

 